body {
  background-color: #F7FCFF;
}


h1 {
  position: relative;
  font-size: 72px;
  color: #6b7494;
  font-family: 'Bitter', serif;
	margin-bottom: 0;
}
a {
  color: #6b7494;
  transition: all .2s ease-in-out;
  text-decoration: underline;
	margin-right: 10px;

}
a:hover { letter-spacing: 4px; }

.menu {
  margin-left: 75%;
  font-size: 15px;
  color: #6b7494;
  font-family: 'Bitter', serif;

}

.divider {
	display: block;
height: 1px;
border: 0;
border-top: 6px solid #6b7494;
padding: 0;
margin-bottom: 10px;
}
.shoppingmenu{
  color: white; 
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: auto;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
	margin-left: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 300px;
  height: auto;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height:auto%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  background-color: #6b7494;
	border-radius: 25%;
	width: 300px;
  height:300px;
  transform: rotateY(180deg);
	font-family: 'Bitter', serif;
	color: #F7FCFF;
}
